In [ ]:
# def import_list():
#     global last_import
#     logger.info(f"[Session ID: {session_id}] Importing data...")
#     with engine.begin() as conn:
#         url = DATA_URL
#         df = pd.read_excel(url)
#                 # Use the rename function with a lambda function to replace brackets and convert to lowercase
#         df.rename(columns=lambda x: x.replace('(', '').replace(')', '').lower(), inplace=True)

#         # df = df.dropna(subset=['req'])
#         df = df.drop(['km', 'gradi', 'ordkey', 'jn45ol'], axis=1)
#         df.dropna(subset=['nome'], inplace=True)


#         # Write to SQL
#         df.to_sql('ponti', con=conn, if_exists='replace')

#     last_import = datetime.datetime.now(datetime.timezone.utc)

In [2]:
import pandas as pd

In [1]:
url = 'http://www.ik2ane.it/pontixls.xls'

In [3]:
df = pd.read_excel(url)

In [5]:
# Drop the first column
df.drop(df.columns[0], axis=1, inplace=True)

In [6]:
df

,(N)ome,(F)req,shift,tono,regione,(P)rov.,Localita',(G)rp,id,n° nodo,(R)ete,QRA (L)oc,(K)m,Gradi,(O)rdkey,JN45OL,g(E)estore
0,HotSpot,144862.5,0,NaN,1 piemonte,AL,Tortona (AL),C4FM,IR1ZZW,NaN,NaN,JN44KV,69.882388,202.054829,2.0,NaN,iz1xbb
1,HotSpot,144725.0,0,NaN,1x v.aosta,AO,Sarre (AO),C4FM,IX1VGS,31672,NaN,JN35PR,151.573755,281.244726,1.0,NaN,ix1vgs
2,HotSpot,144825.0,0,NaN,1x v.aosta,AO,Courmayeur (AO),C4FM,IX1FYM,NaN,WIRES-X,JN35LS,177.831983,281.303837,1.0,NaN,ix1fym
3,R0,145600.0,-600 kHz,74.4,1x v.aosta,AO,Courmayeur (AO),NaN,NaN,NaN,NaN,JN35LS,177.831983,281.303837,1.0,NaN,ari valle d'aosta
4,R6,145750.0,-600 kHz,74.4,1x v.aosta,AO,Saint Vincent (AO),NaN,NaN,NaN,NaN,JN35TS,127.244151,285.321609,1.0,NaN,ari aosta ix1gdu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409,NaN,9999999.0,NaN,NaN,9z,ZZ,-,NaN,NaN,NaN,NaN,NaN,-,-,999.0,NaN,NaN
1410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.rename(columns=lambda x: x.replace('(', '').replace(')', '').lower(), inplace=True)

In [8]:
df

,nome,freq,shift,tono,regione,prov.,localita',grp,id,n° nodo,rete,qra loc,km,gradi,ordkey,jn45ol,geestore
0,HotSpot,144862.5,0,NaN,1 piemonte,AL,Tortona (AL),C4FM,IR1ZZW,NaN,NaN,JN44KV,69.882388,202.054829,2.0,NaN,iz1xbb
1,HotSpot,144725.0,0,NaN,1x v.aosta,AO,Sarre (AO),C4FM,IX1VGS,31672,NaN,JN35PR,151.573755,281.244726,1.0,NaN,ix1vgs
2,HotSpot,144825.0,0,NaN,1x v.aosta,AO,Courmayeur (AO),C4FM,IX1FYM,NaN,WIRES-X,JN35LS,177.831983,281.303837,1.0,NaN,ix1fym
3,R0,145600.0,-600 kHz,74.4,1x v.aosta,AO,Courmayeur (AO),NaN,NaN,NaN,NaN,JN35LS,177.831983,281.303837,1.0,NaN,ari valle d'aosta
4,R6,145750.0,-600 kHz,74.4,1x v.aosta,AO,Saint Vincent (AO),NaN,NaN,NaN,NaN,JN35TS,127.244151,285.321609,1.0,NaN,ari aosta ix1gdu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409,NaN,9999999.0,NaN,NaN,9z,ZZ,-,NaN,NaN,NaN,NaN,NaN,-,-,999.0,NaN,NaN
1410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df = df.drop(['km', 'gradi', 'ordkey', 'jn45ol'], axis=1)
df.dropna(subset=['nome'], inplace=True)

In [10]:
df

,nome,freq,shift,tono,regione,prov.,localita',grp,id,n° nodo,rete,qra loc,geestore
0,HotSpot,144862.5,0,NaN,1 piemonte,AL,Tortona (AL),C4FM,IR1ZZW,NaN,NaN,JN44KV,iz1xbb
1,HotSpot,144725.0,0,NaN,1x v.aosta,AO,Sarre (AO),C4FM,IX1VGS,31672,NaN,JN35PR,ix1vgs
2,HotSpot,144825.0,0,NaN,1x v.aosta,AO,Courmayeur (AO),C4FM,IX1FYM,NaN,WIRES-X,JN35LS,ix1fym
3,R0,145600.0,-600 kHz,74.4,1x v.aosta,AO,Courmayeur (AO),NaN,NaN,NaN,NaN,JN35LS,ari valle d'aosta
4,R6,145750.0,-600 kHz,74.4,1x v.aosta,AO,Saint Vincent (AO),NaN,NaN,NaN,NaN,JN35TS,ari aosta ix1gdu
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,RU,430800.0,-7.6 MHz,NaN,Montenegro,400,Lovcen,DS,400UKO,NaN,NaN,JN92JJ,marp
1402,RU,438600.0,-7.6 MHz,NaN,Montenegro,400,Herceg Novi,NaN,401UZA,NaN,NaN,JN92GK,marp
1403,RU,438675.0,-7.6 MHz,,Montenegro,400,Lovcen Stirovnik,NaN,400UKO,NaN,NaN,JN92JJ,marp
1404,RU,438725.0,-7.6 MHz,NaN,Montenegro,400,Herceg Novi,NaN,400LBO,NaN,NaN,JN92GK,marp
1405,RU,438775.0,-7.6 MHz,NaN,Montenegro,400,Herceg Novi,NaN,401UOB,NaN,NaN,JN92GK,marp